html {
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    font-family: "Rubik", sans-serif;
}

.content {
    padding-top: 65px;
}

.titlesection {
    height: 800px;
    display: flex;
    background-image: url(resources/school\ 3000x2000.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.maintitle{
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    font-size: 90px;
    color: white;
    text-shadow: rgb(43, 52, 96) 0 0 20px;
    letter-spacing: 4px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.break {
    width: 100%;
    display: block;
    height: 5px;
    z-index: 5;
}

.section {
    display: block;
    padding: 20px;
}
.sectiontitle {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-self: center;
    text-align: center;
    width: 100vw;
    font-size: 50px;
    color: whitesmoke;
    letter-spacing: 4px;
    text-shadow: #57585d 0 0 10px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.sectioncontent {
    display: flex;
    color: whitesmoke;
    font-size: 20px;
    text-shadow: #202022 0 0 10px;
}

.header {
    background: #91cfff;
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 5px;
    z-index: 10;
}

#logo {
    --logo-size: 80px;
    --logo-hover-size: 83px;

    position: fixed;
    height: var(--logo-size);
    left: 50%;
    transform: translateX(-50%);
    top: 7px;
    box-shadow: #70727e 0 0 7px 1px;
    transition: box-shadow .1s ease-in-out, height .1s ease-in-out;
    border-radius: 5px;
    z-index: 10;
}

#logo:hover {
    box-shadow: #91949f 0 0 10px 1px;
    height: var(--logo-hover-size);
    cursor: pointer;
}

.headeritem {
    color: white;
    justify-self: center;
    align-self: center;
    padding: 12px;
    font-size: 20px;
    text-shadow: rgb(222, 222, 222) 0 0 5px;
    transition: all .1s ease-in-out;
    text-decoration: none;
}
.headeritem:hover {
    cursor: pointer;
    font-size: 22px;
    text-shadow: rgb(157, 157, 157) 0 0 5px;
}

::-webkit-scrollbar {
    display: none;
}