.charitycontainer {
    margin-top: 50px;
    background-color: var(--primary-dark);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 200vh;
}

.charitytitlecontainer {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;

    margin-top: 50px;

    font-size: var(--largertextsize);
}

#charitytitlename {
    color: var(--progressbarsecondary);
    font-size: 0;
    font-weight: 400;
    transition: .5s ease-in-out all;
}

.charitytitlenamescrolled {
    font-size: var(--largertextsize) !important;
}