
.eventscontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    box-sizing: border-box;
    padding: 50px;
}

.eventstitle {
    font-size: 40px;
    padding: 5px;

    width: 100%;
    height:fit-content;
    text-align: center;
}

.eventscontentscontainer {
    position: relative;
    left: 0px;
    height: 60vh;
    width: 100%;

    cursor: pointer;
}

.eventscontentscontainer:active {
    cursor: grabbing;
}

.eventsnavigationbuttons {
    width: 100%;
    display: flex;
    justify-content: center;

}

.eventnavitem {
    margin: 5px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 15px;
}

.eventnavitemselected {
    background-color: black;
}

.eventnavitem:hover {
    cursor: pointer;
}

.eventitem {
    position: absolute;
    height: 100%;

    user-select: none;
}

.eventiteminner {
    padding: 30px;
}

.eventnavarrow {
    position: absolute;
    top: 45%;
    transform: translateY(45%);

    width: 20px;
    height: 50px;
    z-index: 1;

    cursor: pointer;
}

#eventnavarrowleft {
    left: 15px; 
}

#eventnavarrowright {
    right: 15px; 
}

#winter {
    opacity: 1;

    background-color: blue;
}

#fivek {
    opacity: 1;

    background-color: lime;
}