.eventscontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    box-sizing: border-box;
    padding-left: var(--sidepadding);
    padding-right: var(--sidepadding);
}

.eventstitle {
    font-size: var(--largertextsize);
    padding-top: 40px;
    padding-bottom: 20px;

    width: 100%;
    height:fit-content;
    text-align: center;
}

.eventscontentscontainer {
    position: relative;
    left: 0px;
    height: 60vh;
    width: 100%;

    cursor: pointer;
}

.eventscontentscontainer:active {
    cursor: grabbing;
}

.eventsnavigationbuttons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.eventnavitem {
    margin: 5px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid var(--text-color);
    border-radius: 15px;
}

.eventnavitemselected {
    background-color: var(--text-color);
}

.eventnavitem:hover {
    cursor: pointer;
}

.eventitem {
    position: absolute;
    height: 100%;

    user-select: none;

    border-radius: var(--main-radius);
    border: solid 2px var(--primary-dark);
}

.eventiteminner {
    padding: 30px;
}

.eventnavarrow {
    position: absolute;
    top: 50%;
    transform: translateY(45%);

    width: 20px;
    height: 50px;
    z-index: 1;

    cursor: pointer;
}

#eventnavarrowleft {
    left: 3vw; 
}

#eventnavarrowright {
    right: 3vw; 
}

#winter {
    opacity: 1;

    background-color: blue;
}

#fivek {
    opacity: 1;

    background-color: lime;
}