header {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0px;

    transition: .2s ease-out top;
}

.headerscrolling {
    top: -100px;
}

.headerinner {
    height: 8vh;
    display: flex;

    /*margin-left: 20px;
    //margin-right: 20px;
    //margin-top: 15px;
    */
    
    padding-left: 30px;
    padding-right: 30px;
    
    /*border-radius: var(--main-radius);*/
    background: var(--primary-color);

    /*might replace later*/
    box-shadow: 0 1px 3px #001f421a, -1px 6px 6px #001f4217, -2px 13px 8px #001f420d, -4px 24px 10px #001f4203, -7px 37px 11px #001f4200;

    justify-content: space-between;
    align-items: center;
}

.headeritems {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#headerlogocontainer {
    height: 80%;
    width: auto;

    border-radius: 5px;
    cursor: pointer;
}

#headerlogo {
    height: 100%;
    width: 100%;

    border-radius: 5px;
}

.headeritem {
    justify-self: center;
    margin: 15px;
    text-decoration: none;
    color: var(--text-color);
}

.supportthecause {
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--text-color);

    border-radius: var(--main-radius);

    transition: .2s ease-in-out background-color;
}

.supportthecause:hover{
    background-color: var(--primary-color);
    color: var(--text-color);
    border: solid 1px var(--text-color);
}

.progressbarmain {
    width: 100%;
    height: 7px;

    display: grid;
    justify-content: center;
    transition: height .2s ease-out;
}

.progressbarmainhover {
    height: 40px;
}

.progressbarcontainer {
    width: 90vw;
    height: 100%;
    border-radius: 0 0 5px 5px;
    background-color: #b2c9f8;
    position: relative;
}

.progressbarfill {
    position: absolute;
    top: 0;
    left: 0;
    
    animation: 1.5s cubic-bezier(.17,.67,.16,1.21) 0s 1 progressanim;
    width: var(--progressbarprogress);
    height: 100%;
    border-radius: 0 0 5px 5px;
    background-color: #f77;
}

@keyframes progressanim {
    0% {
        width: 0%;
    }
    100% {
        width: var(--progressbarprogress);
    }
}

.progressbartextcontainer {
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-items: center;
    position: absolute;
    width: 100%;

    background: linear-gradient(90deg, #b2c9f8 10%, #f77 10%);
    background-clip: text;
    -webkit-background-clip: text;
}

.progressbartext {
    margin: 5px;

    color: transparent;
    font-weight: 500;
    font-size: 25px;

    opacity: 0;

    transition: .1s ease-in opacity;
}