body {
    margin: 0;

    font-family: "Century Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.headerinner {
    height: 200%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    border-radius: 10px;
    background: white;

    /*might replace later*/
    box-shadow: 0 1px 3px #001f421a, -1px 6px 6px #001f4217, -2px 13px 8px #001f420d, -4px 24px 10px #001f4203, -7px 37px 11px #001f4200;

}

.headeritem {
    justify-self: center;
}

a {
    text-decoration: none;
}

.progressbarmain {
    width: 100%;
    height: 7px;

    display: grid;
    justify-content: center;
    transition: height .2s cubic-bezier(.4,1.68,.66,.82);
}

.progressbarmain:hover {
    height: 40px;
}

.progressbarcontainer {
    width: 95vw;
    height: 100%;
    border-radius: 0 0 5px 5px;
    background-color: #b2c9f8;
    position: relative;
}

.progressbarfill {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 10%;
    height: 100%;
    border-radius: 0 0 5px 5px;
    background-color: #f77;
}

.progressbartextcontainer {
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-items: center;
    position: absolute;
    width: 100%;

    background: linear-gradient(90deg, #b2c9f8 10%, #f77 10%);
    background-clip: text;
    -webkit-background-clip: text;
}

.progressbartext {
    top: 0;
    left: 0;
    margin: 5px;

    color: transparent;
    font-weight: 500;
    font-size: 25px;
}

.titlecontainer {
    display: flex;
    padding-top: 120px;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;

    background-image: url("../resources/schoolgradient.png");
    background-size: cover;
    background-attachment: fixed;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 70px;
    font-weight: 500;    

    animation: 1.5s ease-in-out 0s 1 mainLettersShowRest;

    color :white;

}

.titleletterrest {
    padding: 5px;
    align-self: center;
    transition: 2s;
    font-weight: 400;
    font-size: 70px;
    color :white;

    animation: 1.7s ease-in-out 0s 1 otherletters;
}

@keyframes mainLettersShowRest 
{
    0% {
        font-size: 175px;
        font-weight: 700;
    }
    50% {
        font-size: 175px;
        font-weight: 700;
    }
    100% {
        font-size: 70px;
        font-weight: 500;    
    }
}

@keyframes otherletters
{
    0% {
        font-size: 0px;
        font-weight: 400;
    }
    50% {
        font-size: 0px;
        font-weight: 400;
    }
    100% {
        font-size: 70px;
        font-weight: 400;    
    }
}

.whowearecontainer {
    width: 100%;
    height: 60vh;
    box-sizing: border-box;
}

.whoweareinner {
    padding: 50px;
    height: 100%;
    box-sizing: border-box;
}

.whowearetitle {
    position: sticky;
    top: 300px;
    padding: 5px;

    font-size: 30px;
}

.whowearecontent {
    padding-left: 230px;
}

.eventscontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    box-sizing: border-box;
    padding: 50px;
}

.eventstitle {
    font-size: 40px;
    
    width: 100%;
    height:fit-content;
    text-align: center;
}

.eventscontentscontainer {
    position: relative;
    left: 0px;
    height: 60vh;
    width: 200%;

    display: flex;
    flex-direction: row;
}

.eventsnavigation {
    width: 100%;
    display: flex;
    justify-content: center;

}

.eventnavitem {
    margin: 5px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 15px;
}

.eventnavitemselected {
    background-color: black;
}

.eventnavitem:hover {
    cursor: pointer;
}

.eventitem {
    width: 100%;
    height: 100%;

    padding: 30px;
}

#winter {
    opacity: 0;
}


#fivek {
    opacity: 1;
}
