body {
    --primary-color: hsl(200, 100%, 96%);
    --primary-tint: hsl(200, 83%, 91%);
    --primary-dark: hsl(200, 50%, 50%);
    --text-color: #2d3436;
    --main-radius: 20px;
    --sidepadding: 7vw;
    --normaltextsize: 18px;
    --largertextsize: 40px;

    --progressbarprogress: 0%;
    --progressbarsize: 95vw;
    --progressbarprimary: #f77;
    --progressbarsecondary: #b2c9f8;
    
    margin: 0;

    font-family: "Bahnschrift", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    letter-spacing: -.2px;
    font-size: var(--normaltextsize);
    color: var(--text-color);

    overflow-x: hidden;

    background-color: var(--primary-color);
}

hr {
    width: 95%;
}