.whowearecontainer {
    width: 100%;
    height: 60vh;
    box-sizing: border-box;
}

.whoweareinner {
    position: relative;
    padding: 50px;
    height: 100%;
    box-sizing: border-box;
}

.whowearetitle {
    position: sticky;
    top: 300px;
    padding: 5px;

    font-size: var(--largertextsize);
}

.whowearecontent {
    position: absolute;
    top: 40px;
    padding-left: 350px;
    padding-right: var(--sidepadding);
}

.whowearecontent p {
    background-color: var(--primary-tint);
    padding: 20px;

    border-radius: var(--main-radius);
    box-shadow: 0 0 20px 5px var(--primary-tint);
    //border: solid 1.5px var(--primary-dark);
}