.eventscontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    box-sizing: border-box;
    padding-left: var(--sidepadding);
    padding-right: var(--sidepadding);
}

.eventstitle {
    font-size: var(--largertextsize);
    padding-top: 40px;
    padding-bottom: 20px;

    width: 100%;
    height:fit-content;
    text-align: center;
}

.eventscontentscontainer {
    position: relative;
    left: 0px;
    height: 60vh;
    width: 100%;

    cursor: grab;
}

.eventscontentscontainer:active {
    cursor: grabbing;
}

.eventsnavigationbuttons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.eventnavitem {
    margin: 5px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid var(--primary-dark);
    border-radius: 15px;
}

.eventnavitemselected {
    background-color: var(--primary-dark);
}

.eventnavitem:hover {
    cursor: pointer;
}

.eventitem {
    position: absolute;
    height: 100%;

    user-select: none;

    border-radius: var(--main-radius);
    border: solid 2px var(--primary-dark);
}

.eventiteminner {
    padding: 30px;
    height: calc(100% - 60px);
}

.eventnavarrow {
    position: absolute;
    top: 50%;
    transform: translateY(45%);

    width: 20px;
    height: 50px;
    z-index: 1;

    cursor: pointer;
}

#eventnavarrowleft {
    left: 3vw; 
}

#eventnavarrowright {
    right: 3vw; 
}

.eventheader{
    width: 100%;
    text-align: center;
    font-size: var(--mediumtextsize);
    font-weight: 500;

    margin-bottom: 10px;
}

.eventdate {
    font-weight: 500;
}

.eventcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.eventtext {
    position: relative;
    left: 0px;
    width: 70%;
}

.imageslideshow {
    /*position: absolute;*/

    width: 25%;
    height: 100px;
    top: 0px;
    background: red;
    float:inline-end;

}

.slideshowimage {

}


#winter {
    opacity: 1;

    background-color: rgb(182, 216, 255);
}

#fivek {
    opacity: 1;

    background-color: rgb(128, 164, 255);
}