.eventcontainer {
    display: inline-block;
    width: 100%;
    height: fit-content;

    border-radius: var(--global-radius);
    margin: 5px 0;
}

.eventcontainer td {
    width: 50%;
}

.event {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 5px;
    box-sizing: border-box;
    color: var(--primary);
}

.eventitemheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eventtime {
    font-size: var(--font-size-3);
    font-weight: 700;
}
.eventtitle {
    font-size: var(--font-size-3);
    font-variant: small-caps;
    font-weight: 700;
}
.eventdescription {
    font-size: var(--font-size-4);
    font-weight: 600;
}

.eventscontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    box-sizing: border-box;
    padding-left: var(--sidepadding);
    padding-right: var(--sidepadding);
}

.eventstitle {
    font-size: var(--font-size-1);
    padding: 10px 0;
    text-align: center;

    color: var(--accent);
    font-weight: 700;
}

.eventscontent {
    width: 90vw;
    display: block;
    margin: 0 auto;
}

.eventscontentscontainer {
    position: relative;
    left: 0px;
    height: var(--eventsmaxheight);
    width: 100%;

    cursor: grab;
}

.eventscontentscontainer:active {
    cursor: grabbing;
}

.eventsnavigationbuttons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.eventnavitem {
    margin: 5px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid var(--accent);
    border-radius: 15px;
}

.eventnavitemselected {
    background-color: var(--accent);
}

.eventnavitem:hover {
    cursor: pointer;
}

.eventitem {
    position: absolute;
    display: flex;
    height: 100%;

    width: 90vw;

    user-select: none;

    border: solid 2px var(--secondary-0);
    border-radius: var(--global-radius);
    background-color: var(--secondary-3);

    box-shadow: 5px 5px 10px -5px var(--primary);

    color: var(--highlight);
}

.eventiteminner {
    padding: 30px;
    height: fit-content;
}

.eventnavarrow {
    position: absolute;
    top: 50%;

    stroke: var(--secondary-2);

    width: 20px;
    height: 50px;
    z-index: 1;

    cursor: pointer;
}

#eventnavarrowleft {
    left: 1.5vw; 
}

#eventnavarrowright {
    right: 1.5vw; 
}

@media (max-width:768px) {   
    .eventnavarrow { display: none !important; }
    .eventcontent { display: flex !important;}
    .imageslideshow {display: none !important;}
    .eventtext { width: 100% !important;}
}

.eventheader{
    display: block;
    width: fit-content;
    text-align: center;
    font-size: var(--font-size-2);
    font-weight: 700;
    font-variant: small-caps;
    color: var(--highlight);

    padding: 5px 20px;

    margin: 0 auto;

    background-color: var(--secondary-4);

    box-shadow: 5px 5px 10px -5px var(--primary);

    margin-bottom: 30px;

    border-radius: var(--global-radius);
}

.eventdate {
    font-weight: 700;
    font-size: var(--font-size-3);

    text-align: center;

    /* transform: translateY(-20px); */
}

.eventcontent {
    display: flex;
}

.eventtext {
    margin: 10px 0;
    position: relative;

}

.eventtext a {
    color: var(--highlight);
}

.imageslideshowcontainer {
    grid-column: span 3; 

    background: red;
    float:inline-end;

}

.imageslideshow {
    height: 100%;
    width: 100%;
    background-image: url('../resources/winter carnival/0.jpg');
    
    background-position: center;
    background-size: cover;
}