.signuptab {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    
    font-weight: 600;
    text-decoration: none;
    color: var(--accent);

    background: var(--primary);

    box-shadow: 0 0 0 2px var(--accent);

    transition: all .1s ease-out;

    border-radius: 0 0 var(--global-radius) var(--global-radius);
}
.signupbutton {
    padding: 0 15px 5px 15px;
}
.signuptab:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 2px var(--accent);
    transform: translateX(-50%) scale(1.05);
}

.titlecontainer {
    width: 100%;
    height: 80vh;
    display: flex;

    background: url("../resources/background images/IMG_20240518_115905807_HDR.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title {
    width: 100%;
    align-self: center;
    text-align: center;

    font-size: 9vh;
    line-height: 10vh;
    font-weight: 600;
    letter-spacing: 2px;
    
    --outlinesize: 2px;
    --outlinenegt: calc(var(--outlinesize) * -1);

    text-shadow: 
        var(--outlinenegt) var(--outlinenegt) 0 var(--accent),
        var(--outlinenegt) var(--outlinesize) 0 var(--accent),
        var(--outlinesize) var(--outlinenegt) 0 var(--accent),
        var(--outlinesize) var(--outlinesize) 0 var(--accent) ;
    color: white;
    
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    mix-blend-mode: difference; */

    padding: 2vw;
}

.nextmeeting {
    display: block;
    width: 100%;
    padding: 1vh 0;
    font-size: var(--mediumertextsize);
    font-weight: 500;
    text-align: center;

    color: var(--primary-color);
    background-color: var(--primary-dark);
}

.progressbarmain {
    width: 100%;
}

.progressbarcontainer {
    width: 100%;
    height: 40px;
    /* background-color: var(--accent); */
    position: relative;

    box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

.progressbarfill {
    position: absolute;
    top: 0;
    left: 0;
    
    width: var(--progressbarprogress);
    height: 100%;
    background-color: var(--accent);
}

.progressbartextcontainer {
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-content: left;
    position: absolute;
    width: 100%;

    background: linear-gradient(90deg, var(--primary) var(--progressbarprogress), var(--accent) var(--progressbarprogress));
    background-clip: text;
    -webkit-background-clip: text;
}

.progressbartext {
    margin: 5px 20px;

    color: transparent;
    font-weight: 500;
    font-size: 25px;
}

.breakdowntextcontainer {
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-content: right;
    position: absolute;
    width: 100%;
    cursor: pointer;
}

.breakdowntext {
    margin: 5px 20px;

    font-weight: 500;
    font-size: var(--smallertextsize);
}
.breakdownarrow {
    display: none;
    margin: 5px 20px;

    font-weight: 500;
    font-size: var(--smallertextsize);
}

@media (max-width:768px) {
    .breakdowntext{ display: none; }
    .breakdownarrow {display: block; }
}

.breakdown {
    background-color: var(--primary-tint);
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.breakdownclosed {
    display: none !important;
}

.breakdownentry {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background-color: var(--primary-color);
}

.breakdownamount {
    font-weight: 500;
}

.topinfocontainer {
    width: 100%;
    display: grid;

    height: fit-content;
    box-sizing: border-box;
    margin: 5vh 0 10vh 0;
}

@media (min-width:768px) {
    .topinfocontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.clubdescription {
    display: flex;
    flex-direction: column;
}

.descriptiontitle {
    font-family: "Shrikhand", serif;
    font-size: var(--font-size-1);
    font-weight: 800;

    color: var(--accent);
    padding-left: 15px;

    flex: 1;
}

.descriptiontitle span {
    padding-bottom: 10px;

    display: inline-block;
}

.descriptiontext {
    line-height: calc(var(--font-size-2) + 20px);
    flex: 4;
    text-align: center;

    font-size: var(--font-size-2);

    display: grid;
    place-items: center;

    padding: 0 50px;
}

#descbreak {
    width: 200px;
    transform: translateX(30px);
    outline: 1px dashed var(--secondary-0);
}

.upcomingevents {
    height: 100%;
    overflow: auto;
    border-top: 2px dashed var(--secondary-2);
    border-left: 2px dashed var(--secondary-2);
    border-bottom: 2px dashed var(--secondary-2);
    padding: 10px 15px;

    background-color: var(--secondary-3);

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: var(--global-radius) 0 0 var(--global-radius);
}

.upcomingtitle {
    position: relative;
    display: inline-block;
    font-size: var(--font-size-2);
    font-weight: 700;
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;

    padding: 5px 10px;

    /* background-color: var(--primary); */
    background-color: var(--secondary-4);

    border-radius: var(--global-radius);

    color: var(--accent);
}

.upcomingevents table {
    width: 100%;
    height: 30vh;

    margin-top: 10px;
    flex: 1;
}

.upcomingevents tbody {
    display: block;
    overflow: auto;
    height: 30vh;
}
.upcomingevents tr{
    background-color: var(--secondary-2);
}

.fixedbutton {
    position: fixed;
    display: grid;

    bottom: 10px;
    width: 30px;
    height: 30px;
    background-color: var(--primary-dark);
    border-radius: 50px;

    z-index: 10;
    cursor: pointer;

    transition: .1s ease-out all;
}

.fixedbutton:hover {
    width: 32px;
    height: 32px;
}

.fixedbutton img {
    align-self: center;
    justify-self: center;
    border-radius: 50px;

    z-index: 11;
}
#instagram {
    right: 20px;
}

#instagram img {
    width: 100%;
    height: 100%;
}

.join {
    display: flex;
    width: 100%;
    padding: 5vw;

    flex-direction: column;
    box-sizing: border-box;
}

.jointitle {
    width: 100%;
    font-size: var(--mediumtextsize);
    text-align: center;
    padding: 2vw 0;
}

.joindesc {
    width: 100%;
    text-align: center;
}

hr {
    width: 90vw;
    border: none;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, transparent, var(--accent), transparent);
}