.signuptab {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    
    text-decoration: none;
    color: var(--primary-dark);

    background: var(--primary-tint);

    /* border: 3px double var(--primary-dark); */
    border-radius: 0 0 var(--main-radius) var(--main-radius);
    box-shadow: 5px 5px 10px -5px var(--primary-dark);

    transition: all .1s ease-out;
}
.signupbutton {
    padding: 10px 20px;
    
}
.signuptab:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px var(--primary-dark);
    background: var(--primary-color);
    transform: translateX(-50%) scale(1.05);
}

.titlecontainer {
    width: 100%;
    height: 80vh;
    display: flex;

    background: url("../resources/background images/IMG_20240518_115905807_HDR.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title {
    width: 100%;
    align-self: center;
    text-align: center;

    font-size: 9vh;
    line-height: 10vh;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--primary-color);
    
    text-shadow: 2px 2px 5px var(--primary-dark);

    color: white;
    
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    mix-blend-mode: difference;

    padding: 2vw;
}

.nextmeeting {
    display: block;
    width: 100%;
    padding: 1vh 0;
    font-size: var(--mediumertextsize);
    font-weight: 500;
    text-align: center;

    color: var(--primary-color);
    background-color: var(--primary-dark);
}

.progressbarmain {
    width: 100%;
    height: fit-content;
}


.progressbarcontainer {
    width: 100%;
    height: 40px;
    background-color: var(--progressbarsecondary);
    position: relative;

    box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

.progressbarfill {
    position: absolute;
    top: 0;
    left: 0;
    
    width: var(--progressbarprogress);
    height: 100%;
    background-color: var(--progressbarprimary);
}

.progressbartextcontainer {
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-content: left;
    position: absolute;
    width: 100%;

    background: linear-gradient(90deg, var(--progressbarsecondary) var(--progressbarprogress), var(--progressbarprimary) var(--progressbarprogress));
    background-clip: text;
    -webkit-background-clip: text;
}

.progressbartext {
    margin: 5px 20px;

    color: transparent;
    font-weight: 500;
    font-size: 25px;
}

.breakdowntextcontainer {
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-content: right;
    position: absolute;
    width: 100%;
    cursor: pointer;
}

.breakdowntext {
    margin: 5px 20px;

    font-weight: 500;
    font-size: var(--smallertextsize);
}
.breakdownarrow {
    display: none;
    margin: 5px 20px;

    font-weight: 500;
    font-size: var(--smallertextsize);
}

@media (max-width:768px) {
    .breakdowntext{ display: none; }
    .breakdownarrow {display: block; }
}

.breakdown {
    background-color: var(--primary-tint);
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.breakdownclosed {
    display: none !important;
}

.breakdownentry {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background-color: var(--primary-color);
}

.breakdownamount {
    font-weight: 500;
}

.topinfocontainer {
    width: 100%;
    display: grid;

    height: fit-content;
    box-sizing: border-box;
    margin: 5vh 0 10vh 0;
    padding: 0 2vw;
}

@media (min-width:768px) {
    .topinfocontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.clubdescription {
    display: flex;
    font-size: var(--mediumtextsize);
    font-weight: 500;
    line-height: calc(var(--mediumtextsize) + 10px);
    text-align: center;
    align-items: center;
    padding: 5px 35px 15px 35px;
}

.upcomingevents {
    height: 100%;
    overflow: auto;
    border: 3px transparent var(--primary-tint2);
    border-radius: 10px;
    padding: 10px 15px;

    background-color: var(--primary-dark);
}

.upcomingevents table {
    width: 100%;
    height: 30vh;
}
.upcomingtitle {
    position: relative;
    display: block;
    font-size: var(--mediumtextsize);
    font-weight: 400;
    text-align: center;
    margin: 10px 0;

    color: var(--primary-color);
}
.upcomingevents tbody {
    display: block;
    overflow: auto;
    height: 30vh;
}
.upcomingevents tbody tr:nth-child(odd){
    background-color: var(--primary-tint);
}
.upcomingevents tbody tr:nth-child(even){
    background-color: var(--primary-tint2);
}

.fixedbutton {
    position: fixed;
    display: grid;

    bottom: 10px;
    width: 30px;
    height: 30px;
    background-color: var(--primary-dark);
    border-radius: 50px;

    z-index: 10;
    cursor: pointer;

    transition: .1s ease-out all;
}

.fixedbutton:hover {
    width: 32px;
    height: 32px;
}

.fixedbutton img {
    align-self: center;
    justify-self: center;
    border-radius: 50px;

    z-index: 11;
}
#instagram {
    right: 20px;
}

#instagram img {
    width: 100%;
    height: 100%;
}

.join {
    display: flex;
    width: 100%;
    padding: 5vw;

    flex-direction: column;
    box-sizing: border-box;
}

.jointitle {
    width: 100%;
    font-size: var(--mediumtextsize);
    text-align: center;
    padding: 2vw 0;
}

.joindesc {
    width: 100%;
    text-align: center;
}