:root {
    --primary: #2e354b;
    --accent: #f1c552;

    --secondary-0: #5c76a8;
    --secondary-1: #8baced;
    --secondary-2: #c8d8fc;
    --secondary-3: #7b93c2;
    --secondary-4: #2c4066;
    
    --highlight: #fff;

    --font-size-1: 34px;
    --font-size-2: 23px;
    --font-size-3: 19px;
    --font-size-4: 16px;

    --global-radius: 5px;

    --progressbarprogress: 100%;
    --eventsmaxheight: 100px;
}

body {
    margin: 0;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;

    overflow-x: hidden;

    background-color: var(--primary);
}

html {
    overflow-x: hidden;
}

@font-face {
    font-family: "Montserrat";
    src: url("../resources/Montserrat-VariableFont_wght.ttf") format("truetype");
}